<!DOCTYPE html>
<html>
<head>
  <title>Rewlsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'stories/search'%>
<% if logged_in? %>
Hi, <%= current_user.username%> - <%= link_to 'Add new story', new_story_path%> | <%= link_to "Logout", logout_path %>
<%else%>
<%= link_to "Login", new_session_path %>
<%end%>
<hr/>
<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
  <%= yield %>


</body>
</html>
