<%= render 'search' %>

<%= @movie.title %>

<div class="filmlist"><span class="title"><%= @movie.title %></span>
	<div class="filmyear"><%= @movie.year_released%></div>
	<div><%= @movie.description %></div>
</div>
