<h1>Welcome to RetFlix! See our collection of movies below</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Release Date</th>
    <th colspan="2"></th>
  </tr>
 
<% @movies.each do |movie| %>
  <tr>
    <td><%= movie.title %></td>
    <td><%= movie.description %></td>
    <td><%= movie.year_released %></td>
    <td><%= link_to 'Show', movie_path(movie) %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
  </tr>
<% end %>
</table>