<h1>New User</h1>

<br/>

<%= form_for @user, url: {action: "create"} do |f| %>
  <b><%= f.label :username, "Username:" %></b>
  <%= f.text_field :username %>
	<b><%= f.label :password, "Password:" %></b>
  <%= f.password_field :password %>
  <br/><br/><br/>
  <%= f.submit "Create User" %>
<% end %>